.posts {
    margin-left: 100px;
    margin-right: 100px;
}

.date {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-link a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-link a:hover {
    text-decoration: underline;
}
