.posts {
    margin-left: 100px;
    margin-right: 100px;
}

.date {
    font-size: 12px;
    margin-bottom: 5px;
}

.post-name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: inline-block;
}

.post-link:hover {
    text-decoration: underline;
}
