.main-links {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.main-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.main-links a:hover {
    text-decoration: underline;
}

#displayName {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
}

#currentPageLink {
    text-decoration: underline;
}

.single-post {
    margin-bottom: 20px;
}
